/**
 * @file
 * CSS
 */

/**
 * Accordion
 */
.paragraphs-item.aplenty-accordion {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.aplenty-accordion.aplenty-accordion-no-border details {
  border: 0;
}
.aplenty-accordion.aplenty-accordion-border details {
  border: 2px solid #bbbbbb;
  background-color: #ffffff;
  padding: 0.75em;
  margin: 1em 0;
  overflow: hidden;
}

/**
 * Hero
 * Largely copied from Backdrop core.
 */
.aplenty-hero {
  /* Positioning, width and transform is to make hero full width on smaller screens */
  position: relative;
  left: 50%;
  width: 100vw;
  min-height: 30vh;
  padding: 1.5rem 2rem 2rem;
  margin: 0 0 2rem;
  transform: translate(-50%, 0);
  transition: min-height 0.25s;
  will-change: min-height;
  background-size: cover;
}

.aplenty-hero .aplenty-hero-callout {
  max-width: 100%;
  overflow-wrap: break-word;
}

@media (min-width: 25em) {
  .aplenty-hero {
    padding: 2rem 3rem 3rem;
    font-size: 1.1em;
  }
}

@media (min-width: 34em) {
  .aplenty-hero {
    font-size: 1.3em;
  }
}

@media (min-width: 62em) {
  .aplenty-hero {
    /* Remove full width styles on larger screens */
    left: auto;
    width: 100%;
    transform: none;
  }
}

.aplenty-hero-no-image {
  /* texture image from Backdrop core */
  background: #0074bd url(../images/texture.png) repeat center center;
  background-blend-mode: luminosity;
}

.no-background-blend-mode .aplenty-hero-no-image * {
  position: relative;
  z-index: 1;
}

.no-background-blend-mode .aplenty-hero-no-image:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: #009dff;
  opacity: 0.5;
  z-index: 0;
}

.aplenty-hero .aplenty-title {
  margin: 0 0 0.2em;
  padding: 0;
  font-weight: 200;
  line-height: 1.2;
  font-size: 2.3em;
}

@media (min-width: 34em) {
  .aplenty-hero .aplenty-title {
    font-size: 2.625em;
  }
}

/**
 * Grid
 */
.paragraphs-item.aplenty-grid {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/**
 * Media block
 */
.paragraphs-item.aplenty-media_list {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media (min-width: 48em) {
  .aplenty-media_block .content {
    display: flex;
    gap: 1rem;
    padding: .5rem;
  }

  .aplenty-media_block.aplenty-media-right .content {
    flex-direction: row-reverse;
  }

  .aplenty-media_block .aplenty-media_block-body {
    flex: auto;
  }

  .aplenty-media_block-image {
    flex-shrink: 0;
  }

  .aplenty-media_block-image img {
    height: fit-content;
  }

  .aplenty-media_block h2 {
    margin-top: 0;
    font-size: 1.25rem;
    font-weight: bold;
  }
}

/**
 * Cards
 */
.paragraphs-item.aplenty-cards {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media (min-width: 48em) {
  .paragraphs-item.aplenty-cards > .content {
    padding: .5rem;
  }
}
/* Display flex ensures the content gets full height. */
.aplenty-card {
  display: flex;
}
.aplenty-card > .content {
  width: 100%;
  margin: 1rem 0;
  padding: 0 0 1rem 0;
}
.aplenty-card-border .aplenty-card > .content {
  border-radius: 0.25rem;
  border: 1px solid #ddd;
}
.aplenty-card-background > .content {
  background-color: #f2f2f2;
}
.aplenty-card-background .aplenty-card > .content {
  border-radius: 0.25rem;
  background-color: #fff;
}

.aplenty-card img {
  height: fit-content;
  margin: 0;
}

.aplenty-card .field-name-field-aplenty-title h2 {
  font-size: 1.25em;
  font-weight: bold;
  margin-top: 1rem;
}

.aplenty-card .field-name-field-aplenty-title,
.aplenty-card .field-name-field-aplenty-body,
.aplenty-card .field-name-field-aplenty-link {
  padding: 0 1rem;
}

/**
 * Images
 */
.aplenty-image .field-name-field-aplenty-caption,
.aplenty-image .field-name-field-aplenty-link {
  font-style: italic;
}

/**
 * Fix nested paragraphs when editing
 * @see https: //github.com/backdrop-contrib/paragraphs/issues/169
 */
form .field-type-paragraphs table {
  font-size: 0.923rem;
}
form .field-type-paragraphs table .paragraphs-item {
  white-space: normal;
}
