/**
 * @file
 * CSS
 */

/**
 * Accordion
 */
.aplenty-accordion.aplenty-accordion-no-border details {
  border: 0;
}

/**
 * Hero
 * Largely copied from Backdrop core.
 */
.aplenty-hero {
  /* Positioning, width and transform is to make hero full width on smaller screens */
  position: relative;
  left: 50%;
  width: 100vw;
  min-height: 30vh;
  padding: 1.5rem 2rem 2rem;
  margin: 0 0 2rem;
  transform: translate(-50%, 0);
  transition: min-height 0.25s;
  will-change: min-height;
  background-size: cover;
}

.aplenty-hero .aplenty-hero-callout {
  max-width: 100%;
  overflow-wrap: break-word;
}
.aplenty-hero .button {
  font-size: 1rem;
}

@media (min-width: 25em) {
  .aplenty-hero {
    padding: 2rem 3rem 3rem;
    font-size: 1.3em;
  }
}

@media (min-width: 34em) {
  .aplenty-hero {
    font-size: 1.5em;
  }
}

@media (min-width: 62em) {
  .aplenty-hero {
    /* Remove full width styles on larger screens */
    left: auto;
    width: 100%;
    transform: none;
  }
}

.aplenty-hero-no-image {
  /* texture image from Backdrop core */
  background: #0074bd url(../images/texture.png) repeat center center;
  background-blend-mode: luminosity;
}

.no-background-blend-mode .aplenty-hero-no-image * {
  position: relative;
  z-index: 1;
}

.no-background-blend-mode .aplenty-hero-no-image:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: #009dff;
  opacity: 0.5;
  z-index: 0;
}

.aplenty-hero .aplenty-title {
  margin: 0 0 0.2em;
  padding: 0;
  font-weight: 200;
  line-height: 1.2;
  font-size: 2.3em;
}

@media (min-width: 34em) {
  .aplenty-hero .aplenty-title {
    font-size: 2.625em;
  }
}

/**
 * Media block
 */
@media (min-width: 48em) {
  .aplenty-media_block .content {
    display: flex;
    gap: 1rem;
    padding: .5rem;
  }

  .aplenty-media_block.aplenty-media-right .content {
    flex-direction: row-reverse;
  }

  .aplenty-media_block .aplenty-media_block-body {
    flex: auto;
  }

  .aplenty-media_block-image {
    flex-shrink: 0;
  }

  .aplenty-media_block-image img {
    height: fit-content;
  }

  .aplenty-media_block h2 {
    margin-top: 0;
  }
}

/**
 * Cards
 */
.paragraphs-item.aplenty-cards {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media (min-width: 48em) {
  .paragraphs-item.aplenty-cards > .content {
    padding: .5rem;
  }
}
/* Display flex ensures the content gets full height. */
.aplenty-card {
  display: flex;
}
.aplenty-card > .content {
  border-radius: 0.25rem;
  border: 1px solid #ddd;
  margin: 1rem 0;
  padding: 0 0 1rem 0;
  background: #fff;
}

.aplenty-card-image img {
  height: fit-content;
}

.aplenty-card .field-name-field-uswds-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.aplenty-card .field-name-field-uswds-title,
.aplenty-card .field-name-field-uswds-body,
.aplenty-card .field-name-field-uswds-button {
  padding: 0 1rem;
}
