/**
 * @file
 * Paragraphs Aplenty Colors.
 */

/* Adds padding to background color. */
[class*="pa--b-"] .content {
  padding-top: var(--spacer);
  padding-bottom: var(--spacer);
  padding-left: var(--spacer);
  padding-right: var(--spacer);
}

/* RGBA Colors from http://mdbootstrap.com/css/colors/#rgba-colors */
.pa--b-rgba-blue-light {
  background: rgba(3, 169, 244, 0.3);
}

.pa--b-rgba-red-light {
  background: rgba(244, 67, 54, 0.3);
}

.pa--b-rgba-pink-light {
  background: rgba(233, 30, 99, 0.3);
}

.pa--b-rgba-purple-light {
  background: rgba(156, 39, 176, 0.3);
}

.pa--b-rgba-indigo-light {
  background: rgba(63, 81, 181, 0.3);
}

.pa--b-rgba-cyan-light {
  background: rgba(0, 188, 212, 0.3);
}

.pa--b-rgba-teal-light {
  background: rgba(0, 150, 136, 0.3);
}

.pa--b-rgba-green-light {
  background: rgba(76, 175, 80, 0.3);
}

.pa--b-rgba-lime-light {
  background: rgba(205, 220, 57, 0.3);
}

.pa--b-rgba-yellow-light {
  background: rgba(255, 235, 59, 0.3);
}

.pa--b-rgba-orange-light {
  background: rgba(255, 152, 0, 0.3);
}

.pa--b-rgba-brown-light {
  background: rgba(121, 85, 72, 0.3);
}

.pa--b-rgba-grey-light {
  background: rgba(158, 158, 158, 0.3);
}

.pa--b-rgba-bluegrey-light {
  background: rgba(96, 125, 139, 0.3);
}

.pa--b-rgba-black-light {
  background: rgba(0, 0, 0, 0.3);
}

.pa--b-rgba-stylish-light {
  background: rgba(62, 69, 81, 0.3);
}

.pa--b-rgba-white-light {
  background: rgba(255, 255, 255, 0.3);
}

.pa--b-rgba-blue-strong {
  background: rgba(3, 169, 244, 0.7);
}

.pa--b-rgba-red-strong {
  background: rgba(244, 67, 54, 0.7);
}

.pa--b-rgba-pink-strong {
  background: rgba(233, 30, 99, 0.7);
}

.pa--b-rgba-purple-strong {
  background: rgba(156, 39, 176, 0.7);
}

.pa--b-rgba-indigo-strong {
  background: rgba(63, 81, 181, 0.7);
}

.pa--b-rgba-cyan-strong {
  background: rgba(0, 188, 212, 0.7);
}

.pa--b-rgba-teal-strong {
  background: rgba(0, 150, 136, 0.7);
}

.pa--b-rgba-green-strong {
  background: rgba(76, 175, 80, 0.7);
}

.pa--b-rgba-lime-strong {
  background: rgba(205, 220, 57, 0.7);
}

.pa--b-rgba-yellow-strong {
  background: rgba(255, 235, 59, 0.7);
}

.pa--b-rgba-orange-strong {
  background: rgba(255, 152, 0, 0.7);
}

.pa--b-rgba-brown-strong {
  background: rgba(121, 85, 72, 0.7);
}

.pa--b-rgba-grey-strong {
  background: rgba(158, 158, 158, 0.7);
}

.pa--b-rgba-bluegrey-strong {
  background: rgba(96, 125, 139, 0.7);
}

.pa--b-rgba-black-strong {
  background: rgba(0, 0, 0, 0.7);
}

.pa--b-rgba-stylish-strong {
  background: rgba(62, 69, 81, 0.7);
}

.pa--b-rgba-white-strong {
  background: rgba(255, 255, 255, 0.7);
}

.pa--b-rgba-blue-slight {
  background: rgba(3, 169, 244, 0.1);
}

.pa--b-rgba-red-slight {
  background: rgba(244, 67, 54, 0.1);
}

.pa--b-rgba-pink-slight {
  background: rgba(233, 30, 99, 0.1);
}

.pa--b-rgba-purple-slight {
  background: rgba(156, 39, 176, 0.1);
}

.pa--b-rgba-indigo-slight {
  background: rgba(63, 81, 181, 0.1);
}

.pa--b-rgba-cyan-slight {
  background: rgba(0, 188, 212, 0.1);
}

.pa--b-rgba-teal-slight {
  background: rgba(0, 150, 136, 0.1);
}

.pa--b-rgba-green-slight {
  background: rgba(76, 175, 80, 0.1);
}

.pa--b-rgba-lime-slight {
  background: rgba(205, 220, 57, 0.1);
}

.pa--b-rgba-yellow-slight {
  background: rgba(255, 235, 59, 0.1);
}

.pa--b-rgba-orange-slight {
  background: rgba(255, 152, 0, 0.1);
}

.pa--b-rgba-brown-slight {
  background: rgba(121, 85, 72, 0.1);
}

.pa--b-rgba-grey-slight {
  background: rgba(158, 158, 158, 0.1);
}

.pa--b-rgba-bluegrey-slight {
  background: rgba(96, 125, 139, 0.1);
}

.pa--b-rgba-black-slight {
  background: rgba(0, 0, 0, 0.1);
}

.pa--b-rgba-stylish-slight {
  background: rgba(62, 69, 81, 0.1);
}

.pa--b-rgba-white-slight {
  background: rgba(255, 255, 255, 0.1);
}
