/**
 * @file
 * Paragraphs Aplenty Background Colors for Hero
 *
 * Unlike other paragraph types, the hero block has a background already,
 * but the background field can be used to style the callout.
 * Also set some smart defaults for the
 */

.aplenty--background > .content > .aplenty-hero-callout {
  padding: 1em;
}

/**
 * Apply the background colour to the callout
 */
.aplenty--background.b-rgba-blue-light > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-blue), var(--bg-opacity-light)) !important;
}

.aplenty--background.b-rgba-red-light > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-red), var(--bg-opacity-light)) !important;
}

.aplenty--background.b-rgba-pink-light > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-pink), var(--bg-opacity-light)) !important;
}

.aplenty--background.b-rgba-purple-light > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-purple), var(--bg-opacity-light)) !important;
}

.aplenty--background.b-rgba-indigo-light > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-indigo), var(--bg-opacity-light)) !important;
}

.aplenty--background.b-rgba-cyan-light > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-cyan), var(--bg-opacity-light)) !important;
}

.aplenty--background.b-rgba-teal-light > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-teal), var(--bg-opacity-light)) !important;
}

.aplenty--background.b-rgba-green-light > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-green), var(--bg-opacity-light)) !important;
}

.aplenty--background.b-rgba-lime-light > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-lime), var(--bg-opacity-light)) !important;
}

.aplenty--background.b-rgba-yellow-light > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-yellow), var(--bg-opacity-light)) !important;
}

.aplenty--background.b-rgba-orange-light > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-orange), var(--bg-opacity-light)) !important;
}

.aplenty--background.b-rgba-brown-light > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-brown), var(--bg-opacity-light)) !important;
}

.aplenty--background.b-rgba-grey-light > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-grey), var(--bg-opacity-light)) !important;
}

.aplenty--background.b-rgba-bluegrey-light > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-bluegrey), var(--bg-opacity-light)) !important;
}

.aplenty--background.b-rgba-black-light > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-black), var(--bg-opacity-light)) !important;
}

.aplenty--background.b-rgba-stylish-light > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-stylish), var(--bg-opacity-light)) !important;
}

.aplenty--background.b-rgba-white-light > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-white), var(--bg-opacity-light)) !important;
}

.aplenty--background.b-rgba-blue-strong > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-blue), var(--bg-opacity-strong)) !important;
}

.aplenty--background.b-rgba-red-strong > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-red), var(--bg-opacity-strong)) !important;
}

.aplenty--background.b-rgba-pink-strong > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-pink), var(--bg-opacity-strong)) !important;
}

.aplenty--background.b-rgba-purple-strong > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-purple), var(--bg-opacity-strong)) !important;
}

.aplenty--background.b-rgba-indigo-strong > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-indigo), var(--bg-opacity-strong)) !important;
}

.aplenty--background.b-rgba-cyan-strong > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-cyan), var(--bg-opacity-strong)) !important;
}

.aplenty--background.b-rgba-teal-strong > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-teal), var(--bg-opacity-strong)) !important;
}

.aplenty--background.b-rgba-green-strong > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-green), var(--bg-opacity-strong)) !important;
}

.aplenty--background.b-rgba-lime-strong > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-lime), var(--bg-opacity-strong)) !important;
}

.aplenty--background.b-rgba-yellow-strong > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-yellow), var(--bg-opacity-strong)) !important;
}

.aplenty--background.b-rgba-orange-strong > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-orange), var(--bg-opacity-strong)) !important;
}

.aplenty--background.b-rgba-brown-strong > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-brown), var(--bg-opacity-strong)) !important;
}

.aplenty--background.b-rgba-grey-strong > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-grey), var(--bg-opacity-strong)) !important;
}

.aplenty--background.b-rgba-bluegrey-strong > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-bluegrey), var(--bg-opacity-strong)) !important;
}

.aplenty--background.b-rgba-black-strong > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-black), var(--bg-opacity-strong)) !important;
}

.aplenty--background.b-rgba-stylish-strong > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-stylish), var(--bg-opacity-strong)) !important;
}

.aplenty--background.b-rgba-white-strong > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-white), var(--bg-opacity-strong)) !important;
}

.aplenty--background.b-rgba-blue-full > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-blue), var(--bg-opacity-full)) !important;
}

.aplenty--background.b-rgba-red-full > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-red), var(--bg-opacity-full)) !important;
}

.aplenty--background.b-rgba-pink-full > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-pink), var(--bg-opacity-full)) !important;
}

.aplenty--background.b-rgba-purple-full > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-purple), var(--bg-opacity-full)) !important;
}

.aplenty--background.b-rgba-indigo-full > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-indigo), var(--bg-opacity-full)) !important;
}

.aplenty--background.b-rgba-cyan-full > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-cyan), var(--bg-opacity-full)) !important;
}

.aplenty--background.b-rgba-teal-full > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-teal), var(--bg-opacity-full)) !important;
}

.aplenty--background.b-rgba-green-full > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-green), var(--bg-opacity-full)) !important;
}

.aplenty--background.b-rgba-lime-full > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-lime), var(--bg-opacity-full)) !important;
}

.aplenty--background.b-rgba-yellow-full > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-yellow), var(--bg-opacity-full)) !important;
}

.aplenty--background.b-rgba-orange-full > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-orange), var(--bg-opacity-full)) !important;
}

.aplenty--background.b-rgba-brown-full > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-brown), var(--bg-opacity-full)) !important;
}

.aplenty--background.b-rgba-grey-full > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-grey), var(--bg-opacity-full)) !important;
}

.aplenty--background.b-rgba-bluegrey-full > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-bluegrey), var(--bg-opacity-full)) !important;
}

.aplenty--background.b-rgba-black-full > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-black), var(--bg-opacity-full)) !important;
}

.aplenty--background.b-rgba-stylish-full > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-stylish), var(--bg-opacity-full)) !important;
}

.aplenty--background.b-rgba-white-full > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-white), var(--bg-opacity-full)) !important;
}

.aplenty--background.b-rgba-blue-slight > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-blue), var(--bg-opacity-slight)) !important;
}

.aplenty--background.b-rgba-red-slight > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-red), var(--bg-opacity-slight)) !important;
}

.aplenty--background.b-rgba-pink-slight > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-pink), var(--bg-opacity-slight)) !important;
}

.aplenty--background.b-rgba-purple-slight > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-purple), var(--bg-opacity-slight)) !important;
}

.aplenty--background.b-rgba-indigo-slight > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-indigo), var(--bg-opacity-slight)) !important;
}

.aplenty--background.b-rgba-cyan-slight > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-cyan), var(--bg-opacity-slight)) !important;
}

.aplenty--background.b-rgba-teal-slight > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-teal), var(--bg-opacity-slight)) !important;
}

.aplenty--background.b-rgba-green-slight > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-green), var(--bg-opacity-slight)) !important;
}

.aplenty--background.b-rgba-lime-slight > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-lime), var(--bg-opacity-slight)) !important;
}

.aplenty--background.b-rgba-yellow-slight > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-yellow), var(--bg-opacity-slight)) !important;
}

.aplenty--background.b-rgba-orange-slight > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-orange), var(--bg-opacity-slight)) !important;
}

.aplenty--background.b-rgba-brown-slight > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-brown), var(--bg-opacity-slight)) !important;
}

.aplenty--background.b-rgba-grey-slight > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-grey), var(--bg-opacity-slight)) !important;
}

.aplenty--background.b-rgba-bluegrey-slight > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-bluegrey), var(--bg-opacity-slight)) !important;
}

.aplenty--background.b-rgba-black-slight > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-black), var(--bg-opacity-slight)) !important;
}

.aplenty--background.b-rgba-stylish-slight > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-stylish), var(--bg-opacity-slight)) !important;
}

.aplenty--background.b-rgba-white-slight > .content > .aplenty-hero-callout {
  background-color: rgba(var(--rgba-white), var(--bg-opacity-slight)) !important;
}

/**
 * Hero button
 *   Darker than the background but semi-transparent so it picks up the colour.
 */
.aplenty--background > .content > .aplenty-hero-callout .aplenty-button {
  background-color: rgba(var(--rgba-black), var(--bg-opacity-light)) !important;
  color: white !important;
}
.aplenty--background>.content>.aplenty-hero-callout .aplenty-button:hover,
.aplenty--background>.content>.aplenty-hero-callout .aplenty-button:focus {
  background-color: rgba(var(--rgba-black), var(--bg-opacity-strong)) !important;
  color: white !important;
}
