{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <div class="usa-hero-callout usa-section-dark">
        <h2>{{ paragraph.field_uswds_title.value }}</h2>
        {{ content.field_uswds_link }}
        {{ content.field_uswds_button }}
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
